body {
	background: black;
}
* {
	border: 1px;
	min-height: 10px;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
	width: 400px;
}

.postcard-body {
	display: flex;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-left: 5px;
	margin-right: 5px;
	font-style: italic;
	font-size: large;
}

.body-left {
	float: left;
	margin-right: 5px;
}
.body-right {
	float: right;
	border-bottom: black;
}

.width {
	width: 300px;
}

.fontsize {
	font-size: 300%;
	margin: 0%;
}

#parte1 {
	color: gray;
	margin-bottom: 5px;
}

#left * {
	color: green;
}

img {
	display: block;
	margin: auto;
}

input {
	border-bottom-color:black
	padding-top: 0%;
	padding-left: 10px;
	margin-top: 0%;
	font-size: large;
	color: gray;
	font-weight: initial;
	margin: 2px;
	width: 160px;
}

.postcard-footer {
	text-align: center;
}

button {
	text-align: center;
	background-color: gray;
	color: black;
	padding: 10px;
	font-size: large;
}
